<!DOCTYPE html>
<html lang="en">
<head>
    <title>DC Chart for Jawbone UP Data</title>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap3.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-modal.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dc.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dc2.css') }}"/>
</head>
<body>
<style>
    #monthly-volume-chart g.y {
        display: none;
    }

    /* testing out d3 tooltip */
    .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 8px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }

    .campusLabel {
      font: 300 18px "Helvetica Neue";
      color: #525252;
    }

    .chart-title {
      font-family: 'Lato', futura, georgia;
      letter-spacing: 1px;
      line-height: 15px;
      text-transform: Uppercase;
      text-align: center;
      color: #525252;
    }


    h3 {
      font-family: 'Helvetica Neue';
      font-size: 24px;
      font-weight: 300;
    }

    body {
      min-height: 2000px;
      padding-top: 120px;
    }

    .myName {
      font-family: 'Helvetica Neue';
      font-size: 16px;
      font-weight: 300;
      text-align: right;
      color: #525252;
      padding-left: 160px;
    }

</style>

<script type="text/javascript" src="{{ url_for('static',filename='js/d3.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/d3.tip2.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-modal.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/crossfilter.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/dc-1.6.0.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/colorbrewer.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/moment.js')}}"></script>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><h3>Jawbone UP data visualization</h3>
    </div>
    <div class="nav navbar-nav">
      <span class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-default active" id="btnPhysical">Physical Activity</button>
        <button type="button" class="btn btn-default" id="btnSleep">Sleep</button>
        <button type="button" class="btn btn-default" id="btnNutrition">Nutrition</button>
        <button type="button" class="btn btn-default" id="btnNutrition">Exploration</button>
      </span> 
      <span class="btn-group"> 
        <button type="button" data-loading-text="Loading..." class="btn btn-default dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a target="_blank" href="https://github.com/joytafty" title="github">by Joy Rimchala</a></li>
          <li class="divider"></li>
          <li><a data-toggle="modal" href="#myModal">Source Data</a></li>
        </ul>
      </span>
      <span class="myName"><a target="_blank" href="https://github.com/joytafty" title="@joytafty">@joytafty</a></span> 
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About these graphs</h4>
      </div>
      <div class="modal-body">
        <h4 class="modal-title">The data source</h4>
        <p>The data source for these graphs is my jawbone UP data.</p>
        <hr>
        <h4 class="modal-title">The technology</h4>
        <p>These interactive graphs were made using <a target="_blank" href="http://nickqizhu.github.io/dc.js/">dc.js</a>, which was built to work natively with <a target="_blank" href="http://square.github.com/crossfilter/">crossfilter</a> and leverages the super awesome <a target="_blank" href="http://d3js.org">d3.js</a></p>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Physical Activity -->
<div class="container" id="physical-container">
  <div clas="row">
    <!-- Physical Activity by Week -->
    <div id="phys-bar-chart" class="dc-chart">
      <span class="chart-title">
        &nbsp;&nbsp;Calories consumption by Week 
        <br>
        &nbsp;(DC Bar Chart) 
      </span>
      <a class="reset" href="javascript:physbarChart.filterAll('physbarchart');dc.redrawAll('physbarchart');" style="display: none;">reset</a>
      <div class="clearfix"></div>      
    </div>

    <!-- Physical Activity by Week -->
    <div id="phys-week-bar" class="dc-chart">
      <span class="chart-title">
        &nbsp;&nbsp;Physical Activity by Week 
        <br>
        &nbsp;(DC Bar Chart) 
      </span>
      <a class="reset" href="javascript:physweekBar.filterAll('physbarchart');dc.redrawAll('physbarchart');" style="display: none;">reset</a>
      <div class="clearfix"></div>      
    </div>

    <div id="phys-tod-bar" class="dc-chart">
      <span class="chart-title">
        &nbsp;&nbsp;Physical Activity by Time of Day 
        <br>
        &nbsp;(DC Bar Chart) 
      </span>
    </div>

    <!-- Physical Activity by month (Pie) -->
    <div id="phys-month-pie" class="dc-chart">
      <span class="chart-title">
        &nbsp;&nbsp;Average exercise time per Day (mins)
        <br>
        &nbsp;(DC Donut Chart) 
      </span>
      <a class="reset" href="javascript:physpieChart.filterAll('physbarchart');dc.redrawAll('physbarchart');" style="display: none;">reset</a>
      <div class="clearfix"></div>      
    </div>
  </div>
</div>

<!-- Sleep -->
<div class="container" id="nutrient-container" style="display: none;">
</div>


<div class="container" id="pre-container">
  <div class="row">
    <div class="col-md-6">
      <h4>Total Calories by Month</h4>
      <div id="calchart"></div>
    </div>
    <div class="col-md-6">
      <h4>Total Sleep by day of week</h4>
      <div id="sleepbar"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Sleep Interval Bubble</h4>
      <div id="slbubble"></div>
    </div>
    <div class="col-md-6">
      <h4>Sleep Quality by resting Heart Rate</h4>
    <div id="sleeppie"></div>
    </div>  
  </div>
</div>

<script type="text/javascript">

var calChart = dc.barChart("#calchart");
var slBubble = dc.bubbleChart("#slbubble");
var sleepBar = dc.barChart("#sleepbar");
var sleepPie = dc.pieChart("#sleeppie");

d3.csv("../static/data/AllUPs.csv", function(error, data) {

  var dateFormat = d3.time.format("%m/%d/%Y");
  var numberFormat = d3.format(".2f");
  
  // Parse date
  data.forEach(function (d) {
    d.month = parseInt((d.DATE).substring(4,6));
    d.wkday = moment(d.DATE, 'YYYYMMDD').weekday();
    // d.wkday = moment(d.DATE, 'YYYYMMDD').format("ddd");
    // console.log(d.wkday);
  })

  var ups = crossfilter(data);
  var monthlyDimension = ups.dimension(function (d) {return +d.month; });
  var weekdayDimension = ups.dimension(function (d) {return +d.wkday+1; });

  var upCalMonth = monthlyDimension.group().reduceSum(function(d) {return +d.e_calories;});

  var upSugarMonth = monthlyDimension.group().reduceSum(function(d) {return +d.e_sugars;});

  var upSleepDay = weekdayDimension.group().reduceSum(function(d) {return d.s_asleep_time;});

  var weekdayValueGroup = weekdayDimension.group().reduce(
    // add
    function (p, v) {
      ++p.count;
      p.slint += v.s_asleep_time;
      p.slint_avg = p.slint / p.count;
      p.awakeInt += v.s_awake_time;
      p.deepInt += v.s_deep;
      p.lightInt += v.s_light; 
      p.slDuration += v.s_duration;
      p.s_quality += v.s_quality; 
      return p;
    },
    // remove
    function (p, v) {
      --p.count;
      p.slint -= v.s_asleep_time;
      p.slint_avg = p.slint / p.count;
      p.awakeInt -= v.s_awake_time;
      p.deepInt -= v.s_deep;
      p.lightInt -= v.s_light; 
      p.slDuration -= v.s_duration;
      p.slQuality -= v.s_quality; 
      return p;
    },
    // initialize
    function () {
      return {count: 0, slint:0, slint_avg: 0,
        awakeInt: 0, deepInt: 0, lightInt: 0, slDuration: 0, slQuality:0};
    }
    )

  var monthlyValueGroup = monthlyDimension.group().reduce(
    // add
    function (p, v) {
      ++p.count; 
      p.carbs += v.e_carbs;
      p.carbs_avg = p.carbs / p.count;
      p.protein += v.e_protein;
      p.protein_avg = p.protein / p.count;
      return p;
    }, 
    // remove
    function (p, v) {
      --p.count; 
      p.carbs -= v.e_carbs;
      p.carbs_avg = p.carbs / p.count;
      p.protein -= v.e_protein;
      p.protein_avg = p.protein / p.count;
      return p;
    },
    /* initialize p */
    function () {
      return {count: 0, carbs: 0, carbs_avg: 0, protein: 0, protein_avg: 0};
    }
  );

  calChart
    .width(400)
    .height(280)
    .margins({top: 10, right: 50, bottom: 30, left: 50})
    .x(d3.scale.linear().domain([0, 12]))
    .brushOn(false)
    .xAxisLabel("Months")
    .yAxisLabel("Total Calories Recorded")
    .dimension(monthlyDimension, "Monthly Value Group")
    .group(upCalMonth)
    .renderHorizontalGridLines(true)
    .elasticY(true)
    .centerBar(true)
    .gap(1);

  calChart.render();

  sleepBar
    .width(400)
    .height(280)
    .margins({top: 10, right: 50, bottom: 30, left: 50})
    .x(d3.scale.linear().domain([0.5, 7.5]))
    .brushOn(false)
    .xAxisLabel("Day of Week")
    .yAxisLabel("Total sleep minutes")
    .dimension(weekdayDimension, "Monthly Value Group")
    .group(upSleepDay)
    .renderHorizontalGridLines(true)
    .elasticY(true)
    .centerBar(true)
    .gap(1);

  sleepBar.render();  

  slBubble
    .width(400)
    .height(280)
    .transitionDuration(1500)
    .margins({top: 10, right: 10, bottom: 30, left: 50})
    .dimension(weekdayDimension)
    .group(weekdayValueGroup)
    .colors(colorbrewer.RdYlGn[9]) // color function or array for bubbles
    .colorDomain([0, 500])
    .colorAccessor(function (p) {
      // console.log(p.value);
      return Math.random()*parseInt(p.value.awakeInt);})
    .keyAccessor(function (p) {return 0.01*Math.random()+parseInt(p.key);})
    .valueAccessor(function (p) {return parseInt(p.value.slint);})
    .radiusValueAccessor(function (p) {return parseInt(p.value.awakeInt);})
    .maxBubbleRelativeSize(0.1)
    .x(d3.scale.linear().domain([0, 10]))
    .y(d3.scale.linear().domain([0, 2000]))
    .r(d3.scale.linear().domain([0, 1000]))
    .renderHorizontalGridLines(true)
    .renderVerticalGridLines(true)
    .xAxisLabel("Month")
    .yAxisLabel("Sleep Interval")
    // .elasticY(true)
    .elasticX(true); 

  slBubble.render();
});

d3.csv("../static/data/allBBnoNaN.csv", function(error, data) {
  var dateFormat = d3.time.format("%m/%d/%Y");
  var numberFormat = d3.format(".2f");

  data.forEach(function (d) {
    d.dd = dateFormat.parse(d.date); 
    d.month = d3.time.month(d.dd);
  })

  var slp           = crossfilter(data),
      slDimension   = slp.dimension(function(d) {return +d.sleepIntervalIndex;}),
      slSumGroup    = slDimension.group().reduceSum(function(d) {
        return d.sleepQuality * d.restingHR / 1000;});

  var dateDimension = slp.dimension(function (d) {
    return d.dd;
  });

  var slMonths = slp.dimension(function (d) {
    return d.month;
  });

  // dc.barChart("#sleep quality chart")
  sleepPie
    .width(280)
    .height(280)
    .renderLabel(true)
    .innerRadius(35)
    .transitionDuration(500)
    .dimension(slDimension)
    .group(slSumGroup)
    // .label(function (d) {
    //   if (sleepPie.hasFilter() && !sleepPie.hasFilter(d.key))
    //     return d.key + "(0%)";
    //   return d.key + "(" + Math.floor(d.sleepIntervalIndex) + "%)";
    // })
    .renderLabel(true);

  sleepPie.render();
});
</script>
<script type="text/javascript" src="../static/js/physical.js"></script>
</body>
</html>