<!DOCTYPE html>
<html lang="en">
<head>
    <title> UP Dashboard</title>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap3.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dc.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dc2.css') }}"/>
</head>
<body>
<style>
    #monthly-volume-chart g.y {
        display: none;
    }

    /* testing out d3 tooltip */
    .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 8px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }

    .campusLabel {
      font: 300 18px "Helvetica Neue";
      color: #525252;
    }

    .chart-title {
      font-family: 'Lato', futura, georgia;
      letter-spacing: 1px;
      line-height: 15px;
      text-transform: Uppercase;
      text-align: center;
      color: #525252;
    }


    h3 {
      font-family: 'Helvetica Neue';
      font-size: 24px;
      font-weight: 300;
    }

    body {
      min-height: 2000px;
      padding-top: 120px;
    }

    .myName {
      font-family: 'Helvetica Neue';
      font-size: 16px;
      font-weight: 300;
      text-align: right;
      color: #525252;
      padding-left: 160px;
    }

</style>

<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/d3.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/d3.tip2.js')}}"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-modal.js')}}"></script> -->
<script type="text/javascript" src="{{ url_for('static',filename='js/crossfilter.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/dc-1.6.0.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/colorbrewer.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/moment.js')}}"></script>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
    <h3><a href="https://jawbone.com/up">Jawbone UP</a> data visualization</h3>
    </div>
    <div class="nav navbar-nav">
      <span class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-default" id="btnPhysical">Physical Activity</button>
        <button type="button" class="btn btn-default" id="btnSleep">Sleep</button>
        <button type="button" class="btn btn-default" id="btnNutrition">Nutrition</button>
        <button type="button" class="btn btn-default" id="btnExplore">Exploration</button>
      </span> 
      <span class="btn-group" id="btnModal"> 
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#bioModal" data-toggle="modal" data-target="#bioModal">The Author</a></li>
          <li class="divider"></li>
          <li><a href="#chartModal" data-toggle="modal" data-target="#chartModal">The Charts</a></li>
        </ul>
      </span>
      <span class="myName"><a href="https://github.com/joytafty" title="@joytafty">@joytafty</a></span> 
    </div>
  </div>
</div>

<!-- Bio Modal -->
<div class="modal" id="bioModal" tabindex="-1" role="dialog" aria-labelledby="bioModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About the Author</h4>
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Who am I ?</h4>
        <p>I'm Joy Rimchala, a quantified-self enthusiast with background in data driven probabilistic model building and agent-based simulations. I have developed my expertise while doing my PhD in Biological Engineering from MIT, building models to predict cells' aggressiveness or invasiveness based on their shapes and movement patterns.  I am working toward bringing together my expertise in model building and my passion in self-tracking and data-informed behavioral modifications to find active and practical ways to improve health and wellness of myself and others around me.</p>
        <hr>
        <h4 class="modal-title">What do I track and how? </h4>
        <p>It started with Jawbone UP! I got one as a christmas present in December 2012 and I became interested in sel-tracking since. </p>
        <p> Currently I'm wearing both Jawbone UP and Basis Band to keep track of my activity levels and sleep. I also keep an electronic journals of my food intakes, energy levels, and random thoughts using AskMeEvery, GridDiary, and Google Docs.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.bioModal -->

<!-- Chart Modal -->
<div class="modal" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About these charts</h4>
      </div>
      <div class="modal-body">
        <h4 class="modal-title">The data source</h4>
        <p>These charts are drawn using <a href="#bioModal">the author</a>'s self tracking data.</p>
        <hr>
        <h4 class="modal-title">The tools</h4>
        <p>These interactive graphs were made using <a target="_blank" href="http://nickqizhu.github.io/dc.js/">dc.js</a>, which was built to work natively with <a target="_blank" href="http://square.github.com/crossfilter/">crossfilter</a> and leverages the super awesome <a href="http://d3js.org">d3.js</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.chartModal -->

<!-- ================================================================== -->
<!-- Physical Activity -->
<div class="container" id="physical-container">
  <!-- Row 1 -->
  <div class="row-fluid">
    <!-- Physical Activity by Week -->
    <div id="phys-week-bar" class="col-md-4">
      <span class="chart-title">
        &nbsp;&nbsp;Average Steps per day 
        <br>
        &nbsp;(by day of the weeks) 
      </span>
      <a class="reset" href="javascript:physweekRow.filterAll('physchart');
      dc.redrawAll('physchart');" style="display: none;">refresh</a>
      <div class="clearfix"></div>      
    </div>
      <!-- Row 3 -->
    <!-- Physical Activity by Week -->
    <div id="phys-bar-chart" class="col-md-4">
      <span class="chart-title">
        &nbsp;&nbsp;Average Longest Active/Inactive Time
        <br>
        &nbsp;(by Month of 2013) 
      </span>
      <a class="reset" href="javascript:physbarChart.filterAll('physchart');
      dc.redrawAll('physchart');" style="display: none;">refresh</a>
      <div class="clearfix"></div>      
    </div>

      <!-- Physical Activity by month (Pie) -->
    <div id="phys-month-pie" class="col-md-4">
      <span class="chart-title">
        &nbsp;&nbsp;Exercise time per Day (mins)
        <br>
        &nbsp;(by Month of 2013) 
      </span>
      <a class="reset" href="javascript:physpieChart.filterAll('physchart');
      dc.redrawAll('physchart');" style="display: none;">refresh</a>
      <div class="clearfix"></div>      
    </div>
  </div> <!-- Close row 1 -->

  <!-- Row 2 -->
  <div class="row-fluid">
    <!-- Physical Activity by Week -->
    <div id="phys-move-chart" class="dc-chart">
      <span class="chart-title">
        &nbsp;&nbsp;Total distance Travel
      </span>
      <a class="reset" href="javascript:physmoveChart.filterAll('physchart');
      dc.redrawAll('physchart');" style="display: none;">refresh</a>
      <div class="clearfix"></div>      
    </div>

    <!-- Physical Activity by Week -->
    <div id="steps-v-lcat" class="dc-chart">
      <span class="chart-title">
        &nbsp;&nbsp;Long Active vs. Total Active Time
      </span>
      <a class="reset" href="javascript:stepVlcatChart.filterAll('physchart');
      dc.redrawAll('physchart');" style="display: none;">refresh</a>
      <div class="clearfix"></div>      
    </div>
  </div> 
  <!-- Close row 2 -->

  <div class="dc-data-count" id="phys-data-count">
    Displaying <span class="filter-count"></span> out of <span class="total-count"></span> measurements.
  </div>
</div>

<!-- ================================================================== -->
<!-- Sleep -->
<div class="container" id="sleep-container" style="display: none;">
  <!-- Row 1 -->
  <div class="row">
    <!-- Sleep by weekday (Pie) -->
  <div id="sleep-pie" class="dc-chart">
    <span class="chart-title">
      &nbsp;&nbsp;Sleep interruptions
      <br>
      &nbsp;(Number of time awakens) 
    </span>
    <a class="reset" href="javascript:sleeppieChart.filterAll('sleepchart');
    dc.redrawAll('sleepchart');" style="display: none;">refresh</a>
    <div class="clearfix"></div>      
  </div>

    <!-- Sleep Duration by weekday (Bar) -->
  <div id="sleep-dur-bar" class="dc-chart">
    <span class="chart-title">
      &nbsp;&nbsp;Sleep Duration (hr)
      <br>
      &nbsp;(Day of week of 2013) 
    </span>
    <a class="reset" href="javascript:sleepdurChart.filterAll('sleepchart');
    dc.redrawAll('sleepchart');" style="display: none;">refresh</a>
    <div class="clearfix"></div>      
  </div>

  <!-- Sleep Quality by weekday (Bar) -->
    <div id="sleep-qual-bar" class="dc-chart">
      <span class="chart-title">
        &nbsp;&nbsp;Sleep Quality (%)
        <br>
        &nbsp;(Day of week of 2013) 
      </span>
      <a class="reset" href="javascript:sleepqualChart.filterAll('sleepchart');
      dc.redrawAll('sleepchart');" style="display: none;">refresh</a>
      <div class="clearfix"></div>      
    </div>

  </div> <!-- Close Row 1 -->

  <!-- Row2 -->
  <div class="row">
  <!-- Deep vs. Light sleep by Month (Bubble) -->
    <div id="sleep-light-deep-chart" class="dc-chart">
      <span class="chart-title">
        &nbsp;&nbsp;Deep vs. Light Sleep Duration
      </span>
      <a class="reset" href="javascript:lightDeepChart.filterAll('sleepchart');
      dc.redrawAll('sleepchart');" style="display: none;">refresh</a>
      <div class="clearfix"></div>      
    </div>      

  <!-- Time asleep vs. Time awak by Month (Bubble) -->
    <div id="sleep-asleep-awake-chart" class="dc-chart">
      <span class="chart-title">
        &nbsp;&nbsp;Awake vs. Asleep Duration in Bed
      </span>
      <a class="reset" href="javascript:asleepAwakeChart.filterAll('sleepchart');
      dc.redrawAll('sleepchart');" style="display: none;">refresh</a>
      <div class="clearfix"></div>      
    </div>      

  <!-- Row3 -->
  <div class="dc-data-count" id="sleep-data-count">
      Displaying <span class="filter-count"></span> out of <span class="total-count"></span> measurements.
  </div>
</div><!-- Close Row 2 -->
</div><!-- Close Sleep container -->

<!-- ================================================================== -->
<!-- Nutrition -->
<div class="container" id="nutrition-container" style="display: none;">
  <!-- Row 1 -->
  <div clas="row">
  <p>Nothing about nutrition yet!</p>  
  </div>
</div>

<!-- Explore -->
<div class="container" id="explore-container" style="display: none;">
  <!-- Row 1 -->
  <div clas="row">
  <!-- Explore by Week -->
    <div id="sleep-bubble" class="dc-chart">
      <span class="chart-title">
        &nbsp;&nbsp;Data as Bubbles
      </span>
      <a class="reset" href="javascript:slBubble.filterAll('explores');
      dc.redrawAll('explores');" style="display: none;">refresh</a>
      <div class="clearfix"></div>      
    </div>
  </div>   <!-- Close row 1 -->
  </div>
</div>

<div class="container" id="pre-container">
  <div class="row">
  </div>
</div>

<script type="text/javascript" src="../static/js/physical.js"></script>
<script type="text/javascript" src="../static/js/sleepchart.js"></script>
<script type="text/javascript" src="../static/js/explore.js"></script>
<script type="text/javascript" src="../static/js/ups_all.js"></script>
</body>
</html>