
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>An-Ni Wang's Interactive Resume</title>
	<meta name="description" content="">
	<meta name="author" content="An-Ni Wang">
	<meta name="viewport" content="width=1280">
	<meta property="og:site_name " content="Online Interactive Resume" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Online interactive resume is An-Ni Wang's portfolio site." />
	<meta property="og:image" content="http://www.anniwang.com/img/badge.png" />
	<meta property="fb:admins" content="anni.wang.16"/>

	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://use.typekit.com/jyg5whj.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script src="js/libs/css3-mediaqueries.js"></script>
	<link rel="stylesheet" href="css/style.css">

	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
</head>
<body>

<div id="fb-root"></div>
<div id="fb-root"></div>  
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
				<section id="black" style="width:100%; height:100%; position:relative; z-index:1; text-align:center; background:url(img/badge.gif) no-repeat center center">
				</section>

		<header>
			<img class="sticker" src="img/sticker.png">
			<div id="awwwards"><a href="http://www.awwwards.com/best-websites/an-ni-wangs-interactive-resume" target="_blank">css gallery</a></div>
				<div id="badge-bg">
						
						<nav>
							<li class="contact-me">Contact Me</li><a class="contact-me" href="#contact-me"></a>
							<li class="design-skill">Design Skills</li><a class="design-skill" href="#design-skills"></a>
							<li class="about-me">About Me</li><a class="about-me" href="#about-me"></a>
							<li class="technical-skill">Technical Skills</li><a class="technical-skill" href="#technical-skills"></a>
							<img class="flag" src="img/flag_b.png" >
						</nav>

				</div>
							<img class="logo" src="img/badge.png" style="margin-top:-200px"/>	

			<h5></h5>
		</header>
		<section id="tool" class="tool">
			<nav>
				<a class="up" href="#"></a>
				<a class="down" href="#"></a>
			</nav>
			

		</section>

	<div id="main" role="main">
		<section id="slogan">
		<div id="parallax">
			<img class="jump parallax-layer" src="img/jump.png"/>
		</div>
			<hgroup id="logo">
				<h1>An-Ni Wang</h1>
				<h2>Interactive Designer &<br /> Web Developer</h2>	
				<!--<h3>Online Interactive Resume</h3>-->
			</hgroup>
			<hgroup>
				<h4><span class="font-arial">“</span> I can only treat myself as a <span>DIGITAL HUMAN</span>, <br />
					having development and design experience for<br /> more than <span>5</span> years <span class="font-arial">”</span></h4>
			</hgroup>	
			<div id="slogan-svg">
				
			</div>
			</section>
	</section>
		<section id="about-me" class="first main-category" style="margin-top:50px;">
	<hr>

			<section id="country" class="questions" style="position:relative; height:600px; margin-top:0;">
				<img class="mario" src="img/mario.png" width="150" height="198">
					<h4>My Location</h4>
					<h5>Where do I come from and where do I live now?</h5>
				
				<div id="country-map-svg" style="margin: 70px 0 0 -70px;">
						<div class="fader-left" style='position:absolute; background:url(img/fader-left.png) no-repeat; z-index:100; width:37px; height:540px; top:30px; left:-30px;'></div>
						<div class="fader-right" style='position:absolute; background:url(img/fader-right.png) no-repeat; z-index:100; width:37px; height:540px; top:30px; right:50px;'></div>
				</div>
				<aside><span class="font-arial">“</span> An-Ni Wang comes from <span><span style="color:#E8A679">●</span> TAIWAN</span><br />
					and lives in <span><span style="color:#E7E978">●</span> NEW YORK CITY</span> <span class="font-arial">”</span></aside>
				</section>
				<div class="clear"></div>
<hr>
				<section id="yahoo-weather" class="questions" style="height:400px; position:relative;">
					<h4>The Weather Report</h4>
					<h5>What is the weather in my current location?</h5>

					<div class="clock" style="position:absolute; top:300px; left:-200px; width:280px; opacity:0;">
					   <div id="Date" style="margin: 0 10px 10px 0; float:left; display:inline-block;"></div>
					      <ul>
					          <li id="hours"></li>
					          <li id="point">:</li>
					          <li id="min"></li>
					          <li id="point">:</li>
					          <li id="sec"></li>
					      </ul>
						<a href="http://weather.yahoo.com/united-states/new-york/new-york-2459115/?unit=f">source</a>
					</div>
					<div class="yahoo-weather-contianer"><div class="weather-icon"><img src="img/weather/mostly_cloudy.gif" width="179" height="120" /></div><div class="weather-description">Mostly Cloudy<br />at New York City<br />9°f<br /></div></div>  <!--get temp and condition from yahoo weather api-->
				</section>
				<div class="clear"></div>

<hr>
				<section id="weight-height" class="questions" style="height:500px; position:relative;">
					<h4>My Looks</h4>
					<h5>What is my weight and height?</h5>
					<div class="fader-left" style='position:absolute; background:url(img/fader-left.png) no-repeat; z-index:100; width:37px; height:440px; top:30px; left:30px;'></div>
					<div class="fader-right" style='position:absolute; background:url(img/fader-right.png) no-repeat; z-index:100; width:37px; height:540px; top:150px; right:24px;'></div>
					
					<div id="weight-height-svg" style="margin-top:40px;"></div>
				</section>
				<div class="clear"></div>
<hr>
				<section id="rador-graph" class="questions" style="height:600px;">
					<h4>My Radar Graph</h4>
					<h5>What am I capable of? See the radar graph.</h5>
					<div id="radar-graph-svg"></div>
				</section>
			</section>
		</section>
		<hr>
		<section id="technical-skills" class="main-category">
		
		<section id="cms" class="questions">
				<h4>CMS Skills</h4>
				<h5>How are my content management system skills? See the Circle Chart!</h5>

				<div id="technical-skills-svg" style="margin: 40px 0 0 80px;"></div>
			</section>	
	<hr>
			<section id="html" class="questions tech" style="height:750px;"> 
				<h4>HTML/ CSS Skills</h4>
				<h5>How's my HTML and CSS skills?</h5>
				<aside>An-Ni Wang's <span>HTML4/ CSS2</span> and<br /> <span>HTML5/ CSS3</span> skills are <span>HOT!</span>,<br /> She easily utilizes both skillsets<br /> in perfect harmony.</span></aside>
				<div id="html-skills-svg" style="margin:40px 0 0 -150px;"></div>
			</section>
		<hr>
		<section id="js" class="questions tech" style="height:500px;">
				<h4>Javascript Skills</h4>
				<h5>How are my javascript skills? See the Histogram!</h5>

				<div id="js-skills-svg" style="margin-top:95px;">

				</div>


			</section>
<hr>
			<section id="animation" class="questions tech" style="height:500px;">

				<h4>Animation Skills</h4>
				<h5>How are my animation skills? See the graph.</h5>

				<div id="animation-skills-svg" style="margin: 20px 0 0 200px">

				</div>
			</section>



<hr>
			<section id="timesheet" class="questions" style="height:600px;">
				<h4>My TimeSheet</h4>
				<h5>How did I spend my time at my previous job?</h5>

				<div id="timesheet-svg" style="margin-top:0;">

				</div>
			</section>
<hr>
			<section id="other" class="questions tech" style="height:500px;">
				<h4>Other Tech. Skills</h4>
				<h5>What else am I capable of?</h5>

				<div id="others-svg" style="margin-top:-50px;">

				</div>
			</section>
			<hr>
				<section id="featured-projects" class="questions tech" style="height:700px;">
					<h4>Featured Projects</h4>
					<h5>What kind of projects have I worked on?</h5>

					<div class="fader-left" style='position:absolute; background:url(img/fader-left.png) no-repeat; z-index:100; width:37px; height:540px; top:180px; left:35px;'></div>
					<div class="fader-right" style='position:absolute; background:url(img/fader-right.png) no-repeat; z-index:100; width:37px; height:540px; top:180px; right:24px;'></div>
					
					<div id="featured-project-svg" style="margin-top:-40px;">
						
					</div>
					<div id="des">
						<aside class="project">
							<li><span>Project Name:</span> Holiday Collections</li>
							<li><span>Client:</span> Biotherm</li>
							<li><span>Skills:</span> Flash Animation, ActionScript 3.0</li>
							<li><span>View Projects:</span> <a href="http://www.biotherm.ca/_en/_ca/Holiday" target="_blank">URL</a></li>
							
						</aside>
						<aside class="project">
							<li><span>Project Name:</span> Biotherm Aquasource Nuit</li>
							<li><span>Client:</span> Biotherm</li>
							<li><span>Skills:</span> HTML5, Javascript, Parallex</li>
							<li><span>View Projects:</span> <a href="http://www.biotherm.ca/_en/_ca/aquasource_nuit" target="_blank">URL</a></li>
						</aside>
						<aside class="project">
							<li><span>Project Name:</span>Loreal Professional Scrapbook</li>
							<li><span>Client:</span> Loreal Professional</li>
							<li><span>Skills:</span> HTML5, CSS3</li>
							<li><span>View Projects:</span> <a href="http://lorealprofessional.fullsixdev.us/scrapbook/" target="_blank">URL</a></li>
						</aside>
						<aside class="project">
							<li><span>Project Name:</span> Daily Delight Sweepstakes</li>
							<li><span>Client:</span> Korres</li>
							<li><span>Skills:</span> Facebook API, jQuery</li>
							<li><span>View Projects:</span> <a href="http://www.biotherm.ca/_en/_ca/Holiday" target="_blank">URL</a></li>
						</aside>
						<aside class="project">
							<li><span>Project Name:</span> Bicworld Germany E-Commerce</li>
							<li><span>Client:</span> Bicworld</li>
							<li><span>Skills:</span> Joomla, PHP</li>
							<li><span>View Projects:</span> <a href="http://ndebicwo.fullsixdev.us/de/index.php?option=com_content&view=article&id=198&Itemid=62" target="_blank">URL</a></li>
						</aside>
						<aside class="project">
							<li><span>Project Name:</span> Biotherm Momember</li>
							<li><span>Client:</span> Biotherm</li>
							<li><span>Skills:</span> Flash, ActionScript3, jQuery</li>
							<li><span>View Projects:</span> <a href="http://www.biotherm.ca/_en/_ca/movember" target="_blank">URL</a></li>
						</aside>
						
					</div>
					
					
				</section>
		</section>
	<hr>
		<section id="design-skills" class="main-category">
		
			<!--<h5>Design Skills</h5>-->
			<div class="clear"></div>
			<section id="design" class="questions design" style="height:500px;">
				<h4>Design Principles</h4>
				<h5>My top three design principles</h5>

				<div id="design-visualize-svg" style="margin-left:35px;">

				</div>
			</section>
		
			<hr>
			
				<section id="dataprocess" class="questions design" style="height:500px; position:relative;">
					<h4>Design Process</h4>
					<h5>What's my design process? See the diagram!</h5>

					
					<div class="fader-left" style='position:absolute; background:url(img/fader-left.png) no-repeat; z-index:100; width:37px; height:440px; top:80px; left:35px;'></div>
					<div class="fader-right" style='position:absolute; background:url(img/fader-right.png) no-repeat; z-index:100; width:37px; height:540px; top:180px; right:24px;'></div>
					<div id="data-process-svg" style="margin:-10px 0 0 40px;"></div>
				</section>
			<hr>	
			<section id="education" class="questions design" style="height:1500px;">
				<h4>Experience Lists</h4>
				<h5>What have I done all these years?</h5>

				<div id="education-svg">

				</div>

			</section>
			<hr>
			<section id="contact-me" class="questions design" style="height:400px; position:relative;"> 
				<h4>Contact</h4>
				<h5>Contact me if you think I am suitable for your company!</h5>
				<div id="profile">
					<div class="allimages">
						<img class="large" src="img/profile.jpg" />
						<img src="img/profile-1.png">
						<img src="img/profile-2.jpg">
						<img src="img/profile-3.jpg">
						<img src="img/profile-4.jpg">
						<img src="img/profile-5.jpg">
						<img src="img/profile-6.jpg">
					</div>
				
						<div class="clear"></div>
					<div id="social-media">
						<a class="fb" href="https://www.facebook.com/anni.wang.16"></a>
						<a class="twitter" href="http://www.twitter.com"></a>
						<a class="skype" href="skype:susceptible19820622?call"></a>
						<a class="pinterest" href="http://pinterest.com/anniwang/"></a>

					</div>
				</div>
				
				<ul>
					<li><a href="mailto:happytogether.annie@gmail.com">Happytogether.annie@gmail.com</a></li>
					<li><a href="tel:19089170858">+1 908-917-0858</a></li>
					<li><a href="resume.php">Download PDF Resume</a></li>
					
				</ul>
				<div id="contact-svg" style="margin-top:55px; position:relative; z-index:-1;">
				</div>
				
			</section>
		</section>
	</section>
</section>

<footer>
	<a href="#" id="facebook"><span id="doit">like me!</span></a>
	<p style="color:white; float:right; padding:17px 12px 12px 12px; font-size:11px;">Design and Development by An-Ni Wang. Copyright &copy; 2012 All rights reserved</p>

</footer>

<a id="close-layer" style="height:100%;width:100%;position:fixed;left:0;top:0;z-index:9999 !important; background-color:black; opacity:0.75; display:none;" href="#"></a>
<a id="like-panel" style="display:block; z-index:10000; position:fixed; bottom:300px; width:420px; height:160px; background-color: #FFCB07; display:none; padding:20px;">
<div class="fb-like" data-href="http://www.anniwang.com" data-send="false" data-width="450" data-show-faces="true"></div></a>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

<script src="js/libs/jquery.jparallax.min.js"></script>
<script src="js/libs/jquery.event.frame.js" ></script>
<script src="js/libs/jquery.easing.1.3.js"></script>
<script src="js/libs/raphael-min.js"></script>
<script src="js/libs/raphael-group-plugin.js"></script>
<script src="js/all.js"></script>
<script src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script>
var _gaq=[['_setAccount','UA-32138747-1'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

</body>

</html>
