
<html>
<head>
<meta name="description" content="Page description">
<meta name="author" content="Joy Rimchala">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Invest&thinsp;Wiser – Smarter Investment</title>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dc.css') }}"/>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<meta charset="utf-8"> 
</head>
<!--<body style="background-color: f8ffff; max-height: 1800px"> -->
  <body style="background-color: ffffff; max-height: 1800px">
  <style>
  .center
  {
    margin-left:auto;
    margin-right:auto;
    width:70%;
    background-color:#b0e0e6;
  }
/*  h3{
    text-align: center
  }*/
  h1 {
    color: darkgray;
    font-family: hevetica;
    font-size: 64px;
    margin-bottom: 32px;
  }
  .call {
    color: white;
    font-family: garamond;
    font-size: 32px;
  }
  .contact {
    color: purple;
    font-size: 48px;
    font-weight: bold;
  }
  h1.why {
    color: orange;
  }
  .footer {
    background-color: black;
    color: darkgray;
    font-size: 12px;
  }
  .h1-background {
    background-color: lightgray;
    filter: blur(20px);
    opacity: 0.75;
  }
  .page {
    min-height: 720px;
    padding-bottom: 96px;
  }
  a.navbar-brand {
    font-weight: bold;
    color: darkorange;
  }
  .facts {
    background-color: white;
    opacity: 0.9;
    padding: 24px;
    border-radius: 3px;
  }
  </style>
  <p style="display: none">
  Visualize startups visibility -
  Relevant investment recommendations –
  Get estimate startup customer acquisition –
  Estimate addressable market size –
</p>
  
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <a class="navbar-brand" href="/">Invest&thinsp;<i>Wiser</i></a>

      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#ticker">Visualize</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><input type="text" class="form-control" placeholder="startup name"></li>
        </ul>

        <div class="visible-lg">
          <a class="btn btn-primary navbar-btn pull-right" href="">joytafty@gmail.com</a>
        </div>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->

  <div id="why">
    <div style="height: 50px"></div>
      <div class="page" style="background-image:url('static/img/city.jpg'); background-size: cover;" data--100-top="opacity: 1.0;" data-top-bottom="opacity: -1.25;">
      <br>
      <div style="position: fixed">
        <div class="h1-background">
          <h1 class="h1-text">&emsp; Invest&thinsp;<i>Wiser</i></h1>
          <div class="facts col-8 col-offset-2" style="margin-top: 100px; opacity: 1">
            <h3>Avoid Investing without Impact</h3>
          </div>
          <div class="facts col-8 col-offset-2" style="margin-top: 12px; opacity: 1">
            <h3>Watch Visibility Trends in Real Time</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!--   <div id="ticker" class="page" style="min-height: 800px">
    <div class="container" style="position: fixed; top: 0px" data-anchor-target="#ticker" data-300-top="opacity: 0;" data-100-top="opacity: 1" data--200-top="opacity[swing]: 1" data--700-top="opacity[swing]: 0;">
      <div class="row">

        <div class="facts col-offset-3 col-12 center" style="min-height: 240px; padding: 16 48 64 48">
          <center>

          <style>

          path {
            fill: #ccc;
            stroke: #fff;
            stroke-width: .5px;
          }

          path:hover {
            fill: darkorange;
          }

          .counties {
            fill: none;
          }

          .states {
            fill: none;
            stroke: #fff;
            stroke-linejoin: round;
          }

          .q0-9 { fill:rgb(247,251,255); }
          .q1-9 { fill:rgb(222,235,247); }
          .q2-9 { fill:rgb(198,219,239); }
          .q3-9 { fill:rgb(158,202,225); }
          .q4-9 { fill:rgb(107,174,214); }
          .q5-9 { fill:rgb(66,146,198); }
          .q6-9 { fill:rgb(33,113,181); }
          .q7-9 { fill:rgb(8,81,156); }
          .q8-9 { fill:rgb(8,48,107); }

          </style>
            <script src="http://d3js.org/d3.v3.min.js"></script>
            <script src="http://d3js.org/topojson.v1.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.1/crossfilter.js"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/queue.min.js') }}"></script>

            <script>
            var width = 960,
              height = 500;

            var path = d3.geo.path();

            var svg = d3.select("#ticker").append("svg")
              .attr("width", width)
              .attr("height", height);

              var rateById = d3.map();

              var quantize = d3.scale.quantize()
                  .domain([0, .15])
                  .range(d3.range(9).map(function(i) { return "q" + i + "-9"; }));

              var path = d3.geo.path();

              queue()
                  .defer(d3.json, "{{ url_for('static',filename='data/us.json')}}")
                  .defer(d3.tsv, "{{ url_for('static',filename='data/test.tsv')}}", function(d) { rateById.set(d.id, +d.rate); })
                  .await(ready);

              function ready(error, us) {
                svg.append("g")
                    .attr("class", "counties")
                  .selectAll("path")
                    .data(topojson.feature(us, us.objects.counties).features)
                  .enter().append("path")
                    .attr("class", function(d) { return quantize(rateById.get(d.id)); })
                    .attr("d", path);

                svg.append("path")
                    .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
                    .attr("class", "states")
                    .attr("d", path);
                }
            </script>


          </center>
          <br><br>
          <img src="{{ url_for('static', filename='eco.png') }}" alt="Traffic" style="width: 800px; opacity: 1">
        </div>


      </div>
    </div>
  </div> -->
  
<!--   <div id="taste" class="page" data-0-bottom="opacity: 0" data--400-bottom="opacity: 1">
    <div style="height: 80px"></div>
      <div class="container" style="background-image:url('static/shoes.png'); background-repeat: no-repeat; background-position:center; min-height: 720px">
        <div class="facts col-6 col-offset-1" style="margin-top: 40px">
          <center><h3>Respond to Trends with Existing Inventory</h3></center>
        </div>
      </div>
  </div>
 -->  
<!--   <div id="manage" class="page">
      <div class="container" style="position: fixed; top: 120px" data-anchor-target="#manage" data-300-top="opacity: 0;" data-100-top="opacity[swing]: 1" data--400-top="opacity[swing]: 1" data--600-top="opacity[swing]: 0;">
        <div class="facts col-8 col-offset-2">
          <center><h3 style="font-size: 60px">Manage Web, Mobile, and Email Campaigns</h3></center>
        </div>
      </div>
      <div id="solutions" style="position: absolute; margin-top: 420px"></div>
  </div> -->

 <!--  <div class="page" data-300-top="opacity: 1" data-center="opacity: 0">
    <div style="height: 120px"></div>
    <div style="background-image:url('static/cars.png'); background-repeat: no-repeat; background-position:center; height: 720px"></div>
  </div>

  <div id="impact" class="page">
      <div class="container" style="position: fixed; top: 240px" data-anchor-target="#impact" data-center="opacity: 0" data--200-center="opacity: 1" data-200-top="opacity: 1" data-top="opacity: 0">
        <div class="facts col-8 col-offset-2">
          <center><h3 style="font-size: 60px">Visualize Impact on Ecommerce and <br>Retail Strategy</h3></center>
        </div>
      </div>
  </div>

  <div id="optimize" class="page">
      <div class="container" style="position: fixed; top: 240px" data-anchor-target="#optimize" data-center="opacity: 0" data--200-center="opacity: 1" data-200-top="opacity: 1" data-top="opacity: 0">
        <div class="facts col-9 col-offset-2">
          <center><h3 style="font-size: 60px">Optimize Your Inventory to Prevent SKU Proliferation</h3></center>
        </div>
      </div>
  </div> -->

  <!-- <div id="contact" class="page" style="position: relative; width: 800px; height: 800px;">
  <div id="screenshot" class="container" style="margin-top: 140px;">
        <div class="facts col-8 col-offset-1" style="position: fixed; top: 10px; border-radius: 12px" data-400-top="opacity: 2" data-bottom="opacity: -4" data-anchor-target="#screenshot">
            <center>
          <h3 style="font-size: 60px">Testing<i>Wiser</i></h3>          
          </center>
        </div>
      </div>         
  </div> -->

  <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>   
  <script type="text/javascript" src="http://leafletjs.com/examples/us-states.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/d3.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/d3.tip2.js')}}"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/crossfilter.js')}}"></script>
  <!-- <script type="text/javascript" src="{{ url_for('static',filename='js/dc-1.6.0.js')}}"></script> -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dc/1.6.0/dc.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/colorbrewer.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/moment.js')}}"></script>    

  <div id="ticker"  class="page" data-0-bottom="opacity: 0" data--400-bottom="opacity: 1">
  <div class="container" id="physical-container" style="position: fixed; top: 0px" data-anchor-target="#ticker" data-300-top="opacity: 0;" data-100-top="opacity: 1" data--200-top="opacity[swing]: 1" data--700-top="opacity[swing]: 0;">
    <div class="row-fluid">
      <!-- Physical Activity by month (Pie) -->
      <div id="phys-month-pie" class="col-md-4">
        <span class="chart-title">
          &nbsp;&nbsp; Funding Rounds (mins)
          <br>
          &nbsp;(by Month of 2013) 
        </span>
        <a class="reset" href="javascript:physpieChart.filterAll('physchart');
        dc.redrawAll('physchart');" style="display: none;">refresh</a>
        <div class="clearfix"></div>      
      </div>

      <!-- Physical Activity by Week -->
      <div id="phys-move-chart" class="col-md-4">
        <span class="chart-title">
          &nbsp;&nbsp;Total distance Travel
        </span>
        <a class="reset" href="javascript:physmoveChart.filterAll('physchart');
        dc.redrawAll('physchart');" style="display: none;">refresh</a>
        <div class="clearfix"></div>      
      </div>

      <div class="facts col-offset-3 col-12 center" style="min-height: 240px; padding: 16 48 64 48">
          <style>
      #map {
        width: 1000px;
        height: 800px;
      }
   
      .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
      }
      .info h4 {
        margin: 0 0 5px;
        color: #777;
      }
   
      .legend {
        text-align: left;
        line-height: 18px;
        color: #555;
      }
      .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
      }
    </style>
    <div id="map"></div>
    
    <script type="text/javascript">
   
      var map = L.map('map').setView([37.8, -96], 4);
   
      var cloudmade = L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &#169; 2011 OpenStreetMap contributors, Imagery &#169; 2011 CloudMade',
        key: '6703ff226f4746adab2f7548e3826fce',
        styleId: 22677
      }).addTo(map);
   
      // control that shows state info on hover
      var info = L.control();
   
      info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
      };
   
      info.update = function (props) {
        this._div.innerHTML = '<h4>Tweets Density</h4>' +  (props ?
          '<b>' + props.name + '</b><br />' + props.density + ' tweets / mi<sup>2</sup>'
          : 'Hover over a state');
      };
      info.addTo(map);

      //add popup
      var heroku = L.marker([37.77, -122.402]).addTo(map);
      heroku.bindPopup("<b>Heroku</b><br>Seed, Series A, B, Acquisition").openPopup();

      var counsyl = L.marker([37.65, -122.392]).addTo(map);
      counsyl.bindPopup("<b>Counsyl</b><br>Seed, Angel, Debt, Series A, B, C").openPopup();

      var talentspring = L.marker([47.615, -122.34]).addTo(map);
      talentspring.bindPopup("<b>Talent Spring</b><br>Seed, Acquisition").openPopup();

      var linkcycle = L.marker([44.0, -71.3]).addTo(map);
      linkcycle.bindPopup("<b>LinkCycle</b><br>Seed").openPopup();

      var swiftIQ = L.marker([41.883, -87.638]).addTo(map);
      swiftIQ.bindPopup("<b>swiftIQ</b><br>").openPopup();

      function onMapClick(e) {
      popup
        .setLatLng(e.latlng)
        .setContent("Location : " + e.latlng.toString())
        .openOn(map);
      }

      var r = 500;
      var c1 = L.circle([19.44036973, -99.20630118], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map);
      var c2 = L.circle([37.7930713, -122.42508556], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map);
      var c3 = L.circle([33.15993899, -117.21536024], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map);
      var c4 = L.circle([39.78024954, -86.1461306], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map); 
      var c5 = L.circle([33.67491593, -117.93894757], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map); 
      var c6 = L.circle([35.18394662, -97.45173052], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map);
      var c7 = L.circle([28.37088606, -81.51607691], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map);
      var c8 = L.circle([38.86011044, -77.05508802], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map); 
      var c9 = L.circle([38.40739775, -82.42528467], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map); 
      var c10 = L.circle([40.88413579, -74.10812342], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map);
      var c11 = L.circle([42.3841619, -70.97368412], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map);
      var c12 = L.circle([44.54860458, -123.30779692], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map); 
      var c13 = L.circle([40.10927001, -75.05202544], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map); 
      var c14 = L.circle([39.34211511, -84.33241688], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map);
      var c15 = L.circle([36.11972402, -115.1358585], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map);
      var c16 = L.circle([-35.05685052, 138.76085677], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map); 
      var c17 = L.circle([40.10922387, -85.05200138], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map); 
      var c18 = L.circle([42.10927001, -75.05202544], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map); 
      var c19 = L.circle([38.34211511, -84.33241688], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map);
      var c20 = L.circle([36.11972402, -105.1358585], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map);
      var c21 = L.circle([-36.05685052, 128.76085677], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map); 
      var c22 = L.circle([42.10922387, -77.05200138], r, {color: 'green', fillColor: 'green',fillOpacity: 0.8}).addTo(map); 


map.on('click', onMapClick);

      // get color depending on population density value
      function getColor(d) {
        return d > 1000 ? '#800026' :
             d > 500  ? '#BD0026' :
             d > 200  ? '#E31A1C' :
             d > 100  ? '#FC4E2A' :
             d > 50   ? '#FD8D3C' :
             d > 20   ? '#FEB24C' :
             d > 10   ? '#FED976' :
                  '#FFEDA0';
      }
   
      function style(feature) {
        return {
          weight: 2,
          opacity: 0.75,
          color: 'white',
          dashArray: '3',
          fillOpacity: 0.45,
          fillColor: getColor(feature.properties.density)
        };
      }
   
      function highlightFeature(e) {
        var layer = e.target;
   
        layer.setStyle({
          weight: 5,
          color: '#666',
          dashArray: '',
          fillOpacity: 0.7
        });
   
        if (!L.Browser.ie && !L.Browser.opera) {
          layer.bringToFront();
        }
   
        info.update(layer.feature.properties);
      }
   
      var geojson;
   
      function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
      }
   
      function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
      }
   
      function onEachFeature(feature, layer) {
        layer.on({
          mouseover: highlightFeature,
          mouseout: resetHighlight,
          click: zoomToFeature
        });
      }
   
      geojson = L.geoJson(statesData, {
        style: style,
        onEachFeature: onEachFeature
      }).addTo(map);
   
      map.attributionControl.addAttribution('Startup data &#169; <a href="http://www.crunchbase.com">Startup Data</a>');
   
      var legend = L.control({position: 'bottomright'});
   
      legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'info legend'),
          grades = [0, 10, 20, 50, 100, 200, 500, 1000],
          labels = [],
          from, to;
   
        for (var i = 0; i < grades.length; i++) {
          from = grades[i];
          to = grades[i + 1];
   
          labels.push(
            '<i style="background:' + getColor(from + 1) + '"></i> ' +
            from + (to ? '&#8211;' + to : '+'));
        }
   
        div.innerHTML = labels.join('<br />');
        return div;
      };
   
      // var svg = d3.select("#map").select("svg"),
      // g = svg.append("g");
      legend.addTo(map);
    </script>
  </div>

<!--   <div class="footer" style="margin-bottom: 0px; position: relative"> © 2014 Invest<i>Wiser</i>™. &nbsp;All Rights Reserved.  &nbsp; Terms and Conditions apply.</div>
 -->  
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.11/skrollr.min.js"></script>
  <script type="text/javascript">
  var s = skrollr.init({
    // forceHeight=false,
    mobileCheck: function() {
        //hack - forces mobile version to be off
        return false;
    }
  });
  $('#mailto').attr('href', 'mailto:' + 'info' + '@' + 'investwiser.com');
  </script>
  <script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22185687-2']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 

  ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  <script type="text/javascript" src="../static/js/tweetsmapchart.js"></script>
  <script type="text/javascript" src="../static/js/ups_all.js"></script>

  <img src="{{ url_for('static', filename='img/city.jpg') }}" width="0" height="0">
  </body>
</html>