
<html>
<head>
<title>Invest&thinsp;Wiser – Smarter Investment</title>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
<meta charset="utf-8"> 
</head>
<!--<body style="background-color: f8ffff; max-height: 1800px"> -->
  <body style="background-color: ffffff; max-height: 1800px">
  <style>
  .center
  {
    margin-left:auto;
    margin-right:auto;
    width:70%;
    background-color:#b0e0e6;
  }
/*  h3{
    text-align: center
  }*/
  h1 {
    color: darkgray;
    font-family: hevetica;
    font-size: 64px;
    margin-bottom: 32px;
  }
  .call {
    color: white;
    font-family: garamond;
    font-size: 32px;
  }
  .contact {
    color: purple;
    font-size: 48px;
    font-weight: bold;
  }
  h1.why {
    color: orange;
  }
  .footer {
    background-color: black;
    color: darkgray;
    font-size: 12px;
  }
  .h1-background {
    background-color: lightgray;
    filter: blur(20px);
    opacity: 0.75;
  }
  .page {
    min-height: 720px;
    padding-bottom: 96px;
  }
  a.navbar-brand {
    font-weight: bold;
    color: darkorange;
  }
  .facts {
    background-color: white;
    opacity: 0.9;
    padding: 24px;
    border-radius: 3px;
  }
  </style>
  <p style="display: none">
  Visualize startups visibility -
  Relevant investment recommendations –
  Get estimate startup customer acquisition –
  Estimate addressable market size –
</p>
  
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <a class="navbar-brand" href="/">Invest&thinsp;<i>Wiser</i></a>

      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#ticker">Visualize</a></li>
          <li><a href="#closetscience">Contact</a></li>
        </ul>
        <div class="visible-lg">
          <a class="btn btn-primary navbar-btn pull-right" href="">joytafty@gmail.com</a>
        </div>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->

  <div id="why">
    <div style="height: 50px"></div>
      <div class="page" style="background-image:url('static/city.jpg'); background-size: cover;" data--100-top="opacity: 1.0;" data-top-bottom="opacity: -1.25;">
      <br>
      <div style="position: fixed">
        <div class="h1-background">
          <h1 class="h1-text">&emsp; Invest&thinsp;<i>Wiser</i></h1>
          <div class="facts col-8 col-offset-2" style="margin-top: 100px; opacity: 1">
            <h3>Avoid Investing without Impact</h3>
          </div>
          <div class="facts col-8 col-offset-2" style="margin-top: 12px; opacity: 1">
            <h3>Watch Visibility Trends in Real Time</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="ticker" class="page" style="min-height: 800px">
    <div class="container" style="position: fixed; top: 120px" data-anchor-target="#ticker" data-300-top="opacity: 0;" data-100-top="opacity: 1" data--200-top="opacity[swing]: 1" data--700-top="opacity[swing]: 0;">
      <div class="row">

        <div class="facts col-offset-3 col-12 center" style="min-height: 240px; padding: 16 48 64 48">
          <center>

          <style>

          path {
            fill: #ccc;
            stroke: #fff;
            stroke-width: .5px;
          }

          path:hover {
            fill: red;
          }

          </style>

            <body>
            <script src="http://d3js.org/d3.v3.min.js"></script>
            <script src="http://d3js.org/topojson.v1.min.js"></script>
            <script>

            var width = 960,
              height = 500;

            var path = d3.geo.path();

            var svg = d3.select("body").append("svg")
              .attr("width", width)
              .attr("height", height);

            d3.json("{{ url_for('static',filename='data/us.json')}}", function(error, topology) {
            svg.selectAll("path")
                .data(topojson.feature(topology, topology.objects.counties).features)
              .enter().append("path")
                .attr("d", path);
          });
            </script>


          </center>
<!--           <br><br>
          <img src="{{ url_for('static', filename='eco.png') }}" alt="Traffic" style="width: 800px; opacity: 1">
 -->        </div>


      </div>
    </div>
  </div>
  
<!--   <div id="taste" class="page" data-0-bottom="opacity: 0" data--400-bottom="opacity: 1">
    <div style="height: 80px"></div>
      <div class="container" style="background-image:url('static/shoes.png'); background-repeat: no-repeat; background-position:center; min-height: 720px">
        <div class="facts col-6 col-offset-1" style="margin-top: 40px">
          <center><h3>Respond to Trends with Existing Inventory</h3></center>
        </div>
      </div>
  </div>
 -->  
<!--   <div id="manage" class="page">
      <div class="container" style="position: fixed; top: 120px" data-anchor-target="#manage" data-300-top="opacity: 0;" data-100-top="opacity[swing]: 1" data--400-top="opacity[swing]: 1" data--600-top="opacity[swing]: 0;">
        <div class="facts col-8 col-offset-2">
          <center><h3 style="font-size: 60px">Manage Web, Mobile, and Email Campaigns</h3></center>
        </div>
      </div>
      <div id="solutions" style="position: absolute; margin-top: 420px"></div>
  </div> -->

 <!--  <div class="page" data-300-top="opacity: 1" data-center="opacity: 0">
    <div style="height: 120px"></div>
    <div style="background-image:url('static/cars.png'); background-repeat: no-repeat; background-position:center; height: 720px"></div>
  </div>

  <div id="impact" class="page">
      <div class="container" style="position: fixed; top: 240px" data-anchor-target="#impact" data-center="opacity: 0" data--200-center="opacity: 1" data-200-top="opacity: 1" data-top="opacity: 0">
        <div class="facts col-8 col-offset-2">
          <center><h3 style="font-size: 60px">Visualize Impact on Ecommerce and <br>Retail Strategy</h3></center>
        </div>
      </div>
  </div>

  <div id="optimize" class="page">
      <div class="container" style="position: fixed; top: 240px" data-anchor-target="#optimize" data-center="opacity: 0" data--200-center="opacity: 1" data-200-top="opacity: 1" data-top="opacity: 0">
        <div class="facts col-9 col-offset-2">
          <center><h3 style="font-size: 60px">Optimize Your Inventory to Prevent SKU Proliferation</h3></center>
        </div>
      </div>
  </div> -->

  <div id="closetscience" class="page">
      <div id="screenshot" class="container" style="margin-top: 140px;">
        <div class="facts col-8 col-offset-1" style="position: fixed; top: 10px; border-radius: 12px" data-400-top="opacity: 2" data-bottom="opacity: -4" data-anchor-target="#screenshot">
            <center>
         <h3>Contact us for more information <a id="mailto" href="#">info@investwiser.com</a></h3>

          <h3 style="font-size: 60px">with Invest<i>Wiser</i></h3>
          <img src="{{ url_for('static', filename='eco.png') }}">
          
          </center>
        </div>
      </div>
  </div>

  <div class="footer" style="margin-bottom: 0px; position: relative"> © 2014 Invest<i>Wiser</i>™. &nbsp;All Rights Reserved.  &nbsp; Terms and Conditions apply.</div>
  
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.11/skrollr.min.js"></script>
  <script type="text/javascript">
  var s = skrollr.init({
    // forceHeight=false,
    mobileCheck: function() {
        //hack - forces mobile version to be off
        return false;
    }
  });
  $('#mailto').attr('href', 'mailto:' + 'info' + '@' + 'theclosetscience.com');
  </script>
  <script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22185687-2']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 

  ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  <img src="{{ url_for('static', filename='closet.png') }}" width="0" height="0">
  </body>
</html>